<!DOCTYPE html>
<html>{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <title>Hospital</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="keyword" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
    </head>
    <body>
        <div class="fullwidth float-left position-relative">
            <diV class="container">
                <div class="position-relative pt-5 fullwidth d-table m-auto mx-wdt">
                    <h5 class="text-uppercase pro-hd-col float-left fullwidth"><span></span></h5>
                    <div class="detail-pro position-relative float-left fullwidth">
                        <ul class="p-0 float-left mt-5 fullwidth">
							{% for doc in documents%}
                            <li class="float-left fullwidth mb-3 pb-3">
                            <div class="col-lg-4 col-sm-4 float-left">
                                <div class="row">
                                <h6 class="text-capitalize fnt-wht">
									<a href="{% url 'doc-detail' doc.id %}">{{ doc.name }}</a>
								</h6>
                                </div>
                            </div>
							</li>
							{% endfor %}

                        </ul>
                        <button type="button" data-toggle="modal" data-target="#billingTab" class="btn btn-link-secondary btn-edit-abs p-0">
                            <i class="icon-edit h6 text-blue-grey"></i>
                        </button>
                    </div>
                </div>
            </diV>
          </div>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>